<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Success</title>

    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <meta http-equiv="refresh" content="1;URL=/doLogin">

</head>
<body class="text-center bg-light pt-5 mt-5">

    <main class="pt-5 mt-5">

        <div class=" mx-auto">
            <h1 class="lead mb-4 display-4 fw-bold">Sign Up Successfully</h1>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <img th:src="@{/img/success.png}" alt="" width="400px">
            </div>
        </div>
    </main>
</body>

</html>